:root {
  --core-water-leaf: hsl(176, 64%, 75%);
  --core-tropical-blue: hsl(217, 98%, 88%);
  --core-pale-lavendar:hsl(270, 94%, 90%);
  --accent-canary-yellow:hsl(57, 100%, 51%);
  --accent-grenadier: hsl(20, 100%, 40%);
  --accent-pink-orange: hsl(20, 100%, 70%);
  --accent-denim: hsl(217, 81%, 45%);
  --accent-navy-blue: hsl(218, 77%, 52%);
  --accent-jordy-blue: hsl(218, 76%, 71%);
  --accent-hawkes-blue: hsl(218, 100%, 93%);
  --accent-zircon: hsl(220, 100%, 98%);
  --tertiary-viking: hsl(176, 60%, 62%);
  --tertiary-cornflower-blue: hsl(217, 99%, 69%);
  --tertiary-rich-lilac:hsl(284, 59%, 63%);
  --tertiary-orchid: hsl(292, 61%, 70%);
  --neutral-black: hsl(120, 0%, 16%);
  --neutral-steel: hsl(113, 0%, 40%);
  --neutral-dove-gray: hsl(120, 0%, 46%);
  --neutral-mountain-mist: hsl(115, 0%, 58%);
  --neutral-athens-gray: hsl(112, 0%, 87%);
  --neutral-gallery: hsl(0, 0%, 94%);
  --neutral-white: hsl(106, 100%, 100%);
  --error-background: hsl(359, 81%, 96%);
  --error-shadow: hsl(0, 83%, 59%);
  --error: hsl(360, 77%, 44%);
  --warning-background: hsl(39, 99%, 91%);
  --warning: hsl(47, 96%, 60%);
  --success-background: hsl(106, 52%, 92%);
  --success-shadow: hsl(115, 99%, 34%);
  --success: hsl(112, 100%, 23%);
  --info: hsl(217, 81%, 45%);
  --info-background: hsl(218, 100%, 93%);
  --background-body: var(--neutral-white);
  --border-general: var(--neutral-dove-gray);
  --base-font-color: var(--neutral-black);
  --base-font-family: "FS Thrive Elliot Web", Arial, sans-serif;
  --mono-font-family: "Courier New", Courier, monospace;
  --small-font-size: 14px;
  --base-font-size: 16px;
  --large-font-size: 18px;
  --anchor-color: var(--accent-denim);
  --spacing-xs: 2px;
  --spacing-s: 4px;
  --spacing-m: 8px;
  --spacing-l: 16px;
  --spacing-xl: 24px;
  --spacing-xxl: 32px;
  --spacing-xxxl: 40px;
  --spacing-xxxxl: 80px;
  --container-max-width: 1600px;
  --paragraph-margin-bottom: var(--spacing-m);
  --paragraph-max-width: 600px; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer; }

figure {
  margin: 0; }

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0; }

ul,
ol,
dd {
  margin: 0;
  padding: 0; }
  ul li,
  ol li,
  dd li {
    margin-left: var(--spacing-l); }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit; }

p {
  margin: 0; }

cite {
  font-style: normal; }

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

.screen-reader-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.visually-hidden-text {
  visibility: hidden; }

body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: 1.3; }

h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 24px; }

h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 16px; }

h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 8px; }

h4 {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 4px; }

h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 2px; }

p {
  max-width: var(--paragraph-max-width);
  line-height: 1.5; }
  p.large {
    font-size: var(--large-font-size); }

code, .code, .mono {
  font-family: var(--mono-font-family);
  font-size: var(--base-font-size); }
  code.large, .code.large, .mono.large {
    font-size: var(--large-font-size); }

body {
  color: var(--base-font-color);
  background-color: var(--background-body); }
  body.no-scroll {
    overflow: hidden; }

main {
  padding: var(--spacing-l); }

a {
  color: var(--anchor-color);
  text-decoration: none; }
  a:focus {
    outline: none;
    text-decoration: underline; }
  a:hover {
    text-decoration: underline; }

p,
ul,
ol,
pre,
blockquote {
  margin: 0;
  margin-bottom: var(--spacing-l); }

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: var(--spacing-xs); }

hr {
  border: 1px solid var(--border-general);
  margin: -1px 0; }

b,
i,
strong,
em,
small,
code {
  line-height: 0; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

.text-align-left {
  text-align: left; }

.text-align-right {
  text-align: right; }

.text-align-center {
  text-align: center; }

.text-align-justify {
  text-align: justify; }

.text-align-initial {
  text-align: initial; }

.text-align-inherit {
  text-align: inherit; }

.text-underline {
  text-decoration: underline; }

.text-line-through {
  text-decoration: line-through; }

.text-no-underline {
  text-decoration: none; }

.text-uppercase {
  text-transform: uppercase; }

.text-lowercase {
  text-transform: lowercase; }

.text-capitalize {
  text-transform: capitalize; }

.v-align-baseline {
  vertical-align: baseline; }

.v-align-top {
  vertical-align: top; }

.v-align-middle {
  vertical-align: middle; }

.v-align-bottom {
  vertical-align: bottom; }

.v-align-text-top {
  vertical-align: text-top; }

.v-align-text-bottom {
  vertical-align: text-bottom; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.flex {
  display: flex; }

.inline-flex {
  display: inline-flex; }

.table {
  display: table; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.hidden {
  display: hidden; }

.pos-static {
  position: static; }

.pos-relative {
  position: relative; }

.pos-fixed {
  position: fixed; }

.pos-absolute {
  position: absolute; }

.pos-sticky {
  position: sticky; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.float-none {
  float: none; }

.object-contain {
  object-fit: contain; }

.object-cover {
  object-fit: cover; }

.object-fill {
  object-fit: fill; }

.object-none {
  object-fit: none; }

.object-scale-down {
  object-fit: scale-down; }

.flex-column {
  flex-direction: column; }

.flex-row {
  flex-direction: row; }

.items-stretch {
  align-items: stretch; }

.items-flex-start {
  align-items: flex-start; }

.items-center {
  align-items: center; }

.items-flex-end {
  align-items: flex-end; }

.items-baseline {
  align-items: baseline; }

.justify-flex-start {
  justify-content: flex-start; }

.justify-center {
  justify-content: center; }

.justify-flex-end {
  justify-content: flex-end; }

.justify-space-between {
  justify-content: space-between; }

.justify-space-around {
  justify-content: space-around; }

.m-none {
  margin: 0; }

.m-xs {
  margin: 2px; }

.m-s {
  margin: 4px; }

.m-m {
  margin: 8px; }

.m-l {
  margin: var(--spacing-l); }

.m-xl {
  margin: 24px; }

.m-xxl {
  margin: 32px; }

.m-xxxl {
  margin: 40px; }

.m-xxxxl {
  margin: 80px; }

.mt-none {
  margin-top: 0; }

.mt-xs {
  margin-top: 2px; }

.mt-s {
  margin-top: 4px; }

.mt-m {
  margin-top: 8px; }

.mt-l {
  margin-top: var(--spacing-l); }

.mt-xl {
  margin-top: 24px; }

.mt-xxl {
  margin-top: 32px; }

.mt-xxxl {
  margin-top: 40px; }

.mt-xxxxl {
  margin-top: 80px; }

.mr-none {
  margin-right: 0; }

.mr-xs {
  margin-right: 2px; }

.mr-s {
  margin-right: 4px; }

.mr-m {
  margin-right: 8px; }

.mr-l {
  margin-right: var(--spacing-l); }

.mr-xl {
  margin-right: 24px; }

.mr-xxl {
  margin-right: 32px; }

.mr-xxxl {
  margin-right: 40px; }

.mr-xxxxl {
  margin-right: 80px; }

.mb-none {
  margin-bottom: 0; }

.mb-xs {
  margin-bottom: 2px; }

.mb-s {
  margin-bottom: 4px; }

.mb-m {
  margin-bottom: 8px; }

.mb-l {
  margin-bottom: var(--spacing-l); }

.mb-xl {
  margin-bottom: 24px; }

.mb-xxl {
  margin-bottom: 32px; }

.mb-xxxl {
  margin-bottom: 40px; }

.mb-xxxxl {
  margin-bottom: 80px; }

.ml-none {
  margin-left: 0; }

.ml-xs {
  margin-left: 2px; }

.ml-s {
  margin-left: 4px; }

.ml-m {
  margin-left: 8px; }

.ml-l {
  margin-left: var(--spacing-l); }

.ml-xl {
  margin-left: 24px; }

.ml-xxl {
  margin-left: 32px; }

.ml-xxxl {
  margin-left: 40px; }

.ml-xxxxl {
  margin-left: 80px; }

.p-none {
  padding: 0; }

.p-xs {
  padding: 2px; }

.p-s {
  padding: 4px; }

.p-m {
  padding: 8px; }

.p-l {
  padding: var(--spacing-l); }

.p-xl {
  padding: 24px; }

.p-xxl {
  padding: 32px; }

.p-xxxl {
  padding: 40px; }

.p-xxxxl {
  padding: 80px; }

.pt-none {
  padding-top: 0; }

.pt-xs {
  padding-top: 2px; }

.pt-s {
  padding-top: 4px; }

.pt-m {
  padding-top: 8px; }

.pt-l {
  padding-top: var(--spacing-l); }

.pt-xl {
  padding-top: 24px; }

.pt-xxl {
  padding-top: 32px; }

.pt-xxxl {
  padding-top: 40px; }

.pt-xxxxl {
  padding-top: 80px; }

.pr-none {
  padding-right: 0; }

.pr-xs {
  padding-right: 2px; }

.pr-s {
  padding-right: 4px; }

.pr-m {
  padding-right: 8px; }

.pr-l {
  padding-right: var(--spacing-l); }

.pr-xl {
  padding-right: 24px; }

.pr-xxl {
  padding-right: 32px; }

.pr-xxxl {
  padding-right: 40px; }

.pr-xxxxl {
  padding-right: 80px; }

.pb-none {
  padding-bottom: 0; }

.pb-xs {
  padding-bottom: 2px; }

.pb-s {
  padding-bottom: 4px; }

.pb-m {
  padding-bottom: 8px; }

.pb-l {
  padding-bottom: var(--spacing-l); }

.pb-xl {
  padding-bottom: 24px; }

.pb-xxl {
  padding-bottom: 32px; }

.pb-xxxl {
  padding-bottom: 40px; }

.pb-xxxxl {
  padding-bottom: 80px; }

.pl-none {
  padding-left: 0; }

.pl-xs {
  padding-left: 2px; }

.pl-s {
  padding-left: 4px; }

.pl-m {
  padding-left: 8px; }

.pl-l {
  padding-left: var(--spacing-l); }

.pl-xl {
  padding-left: 24px; }

.pl-xxl {
  padding-left: 32px; }

.pl-xxxl {
  padding-left: 40px; }

.pl-xxxxl {
  padding-left: 80px; }

.table-auto {
  table-layout: auto; }

.table-fixed {
  table-layout: fixed; }

.b-all {
  border: 1px solid var(--border-general); }

.b-none {
  border: none; }

.b-top {
  border-top: 1px solid var(--border-general); }

.b-right {
  border-right: 1px solid var(--border-general); }

.b-bottom {
  border-bottom: 1px solid var(--border-general); }

.b-left {
  border-left: 1px solid var(--border-general); }

.cursor-auto {
  cursor: auto; }

.cursor-default {
  cursor: default; }

.cursor-pointer {
  cursor: pointer; }

.cursor-wait {
  cursor: wait; }

.cursor-text {
  cursor: text; }

.cursor-move {
  cursor: move; }

.cursor-not-allowed {
  cursor: not-allowed; }

.fs-italic {
  font-style: italic; }

.fs-normal {
  font-style: normal; }

.fs-oblique {
  font-style: oblique; }

.fs-inherit {
  font-style: inherit; }

.fs-initial {
  font-style: initial; }
